* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	height: 100vh;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* Utilities */

.flex {
	display: flex;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.white-text {
	color: rgb(255,255,255);
}

/* header */

header {
	height: 80px;
	background-color: rgb(8, 11, 18);
	justify-content: space-between;
}

.logo {
	width: 15%;
	padding: 20px 60px 20px 20px;
	background-color: rgb(0, 0, 0);
}

.piccolo-logo {
	display: none;
}

.upgrade {
	width: 200px;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
}

.upgrade p {
	border: 1px solid rgb(255,255,255);
	border-radius: 30px;
	padding: 10px 30px;
}

.upgrade a {
	text-decoration: none;
}

.upgrade a:visited {
	color: rgb(255,255,255);
}

/* main */

main {
	height: calc(100vh - 150px); /* viewport - altezza header - altezza footer */
	background-color: rgb(20, 25, 34);
}

/* sidebar */

.sidebar {
	width: 248px;
	background-color: rgb(0, 0, 0);
	align-items: center;
	flex-direction: column;
	padding: 0 20px;
	color: rgb(113, 113, 113);
	overflow-y: auto;
}

.menu {
	height: 100px;
	margin-bottom: 10px;
}

.lista-menu li {
	list-style-type: none;
	padding-top: 7px;
}

.lista-menu img {
	width: 25px;
	margin-right: 5px;
	vertical-align: middle;
	filter: brightness(50%);
}

.account {
	height: 80px;
}

.account img {
	margin-right: 10px;
	width: 15px;
	vertical-align: middle;
	filter: brightness(50%);
}

.account p {
	margin-top: 10px;
	margin-bottom: 7px;
}

#user {
	background-color: rgb(128, 128, 128);
	width: 25px;
	height: 25px;
	border-radius: 15px;
	filter: brightness(100%);
}

.lista-menu a, .playlist a, .account a {
	text-decoration: none;
}

.lista-menu a:visited, .playlist a:visited, .account a:visited {
	color: rgb(113, 113, 113);
}

.playlist {
	min-height: 150px;
	height: calc(100% - 180px); /* altezza sidebar - altezza menu - altezza account */
	padding-top: 5px;
	overflow-y: auto;
}

.lista-playlist li {
	list-style-type: none;
}

.lista-playlist li:not(.lista-playlist li:first-of-type) {
	padding-top: 15px;
}

.lista-playlist i {
	font-size: 30px;
	margin-right: 10px;
	vertical-align: middle;
	color: rgb(163, 163, 163);
}

.playlist H3 {
	margin-bottom: 8px;
}

/* content */

.content {
	width: calc(100% - 250px);
	overflow-y: scroll;
	padding: 0 20px;
}

.navbar {
    width: 80%;
    margin: auto;
	text-align: center;
	padding: 8px 0;
	color: rgb(125, 127, 132);
}
 
.navbar li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.navbar a {
	text-decoration: none;
}

.navbar a:visited {
	color: rgb(125, 127, 132);
}

.row {
	flex-wrap: no-wrap;
	justify-content: flex-start;
	margin-top: 20px;
}

.row .song {
	height: 100%;
	width: 180px;
	margin-right: 15px;
	text-align: center;
}

.row .song img {
	width: 100%;
	margin-bottom: 10px;
}

.row .song p {
	color: rgb(119,122,127);
}


.container-song {
	position: relative;
}

.container-song i {
	position: absolute;
	visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: white;
	font-size: 40px;
}



.content h2 {
	margin-bottom: 8px;
}

.content p {
	color: rgb(125, 127, 132);
}

.recently-played, .created-for-user, .most-popular-artists {
	margin: 30px 0;
}

.most-popular-artists img {
	border-radius: 50%;
}


/* footer */

footer {
	height: 70px;
	background-color: rgb(40, 40, 40);
	justify-content: space-between;
}

.current-song {
	width: 15%;
	color: rgb(113, 113, 113);
}

.current-song div {
	align-self: center;
}

.sound {
	width: 15%;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
}

.player {
	width: 40%;
	padding: 5px 0;
}


.current-song {
	justify-content: space-around;
	padding: 10px 0;
}

.current-song span,
.current-song p {
	align-self: center;
}

.current-song i:last-of-type {
	margin-left: 8px;
}

.buttons {
    height: 50%;
    width: 50%;
    margin: auto;
    justify-content: center;
	align-items: center;
}

.buttons i, .sound i {
	margin: 0 10px;
	font-size: 10px;
}

.buttons .fa-play-circle {
	font-size: 20px;
}
 
.reprodution {
    bottom: 0;
    height: 50%;
    width: 80%;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

.song-lenght {
	height: 2px;
	width: 70%;
	background-color: rgb(90, 90, 90);
}

.song-lenght div {
	width: 20%;
	height: 2px;
	background-color: rgb(193, 193, 193);
	justify-content: flex-end;
	align-items: center;
}

.song-lenght i {
	visibility: hidden;
}

/* animazione */

.upgrade:hover p{
	font-size: larger;

}

.container-song:hover i{
	visibility: visible;
	z-index: 1;
}

.container-song:hover img{
	filter:brightness(0.6);
}

.content a:hover, 
.sidebar a:hover, 
.sidebar a:hover i, 
.current-song p:hover,
.current-song i:hover{
	color: white;
}

.sidebar a:hover img {
	filter: brightness(1.5);
}

.current-song p:last-of-type:hover {
	text-decoration: underline;
}

.buttons .fa-play-circle:hover {
	font-size: 23px;
}

.song-lenght div:hover {
	background-color: yellowgreen;
	cursor: pointer;
}

.song-lenght div:hover i {
	visibility: visible;
}

/* responsive */

@media only screen and (max-height: 150px) {
}

/* extra-small devices */
@media only screen and (max-width: 420px) {
	.sidebar {
		width: 50px;
		padding: 0 13px;
	}

	.sidebar .menu ul li span {
		display: none;
	}

	.sidebar .playlist {
		visibility: hidden;
	}

	.sidebar .account span, .account hr, .account strong {
		display: none;
	}

	footer {
		font-size: 0.5rem;
	}
}

/* small devices */
@media only screen and (max-width: 576px) {}
	

	/* medium devices */
@media only screen and (max-width: 768px) {
	
	.row:first-of-type {
		flex-wrap: wrap;
	}

	.navbar ul li {
		margin-top: 20px;
	}

}