* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: montserrat;
	src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.flex {
	display: flex;
}

header {
	width: 100%;
	height: 80px;
	background-color: rgb(8, 11, 18);
	justify-content: space-between;
}

.logo {
	height: 100%;
	width: 15%;
	padding: 20px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
}

.logo img {
	width: 100%;
	height: 100%;
}
.upgrade {
	width: 18%;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
}

.heder p {
	color: white;
	border: 1px solid white;
	border-radius: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: montserr;
}

main {
	width: 100%;
	height: 925px;
	background-color: salmon;
}

.sidebar {
	width: 15%;
	background-color: seagreen;
	align-items: center;
	flex-direction: column;
}

.content {
	width: 85%;
	background-color: red;
}

footer {
	width: 100%;
	height: 80px;
	background-color: rgb(40, 40, 40);
	justify-content: space-between;
}

.current-song {
	width: 15%;
	height: 100%;
	background-color: slateblue;
}

.sound {
	width: 15%;
	height: 100%;
	background-color: slateblue;
}

.player {
	width: 40%;
	height: 100%;
	background-color: tan;
}

.account {
	background-color: yellow;
	width: 100%;
	height: 80px;
}

.menu {
	width: 100%;
	height: 115px;
	background-color: violet;
}

.playlist {
	width: 100%;
	height: calc(100% - 195px);
	background-color: turquoise;
}
