* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8em;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.flex {
	display: flex;
}

header {
	width: 100%;
	height: 80px;
	background-color: rgb(8, 11, 18);
	justify-content: space-between;
}

.logo {
	height: 100%;
	width: 15%;
	padding: 20px 60px 20px 10px;
	background-color: black;
}

.logo img {
	width: 100%;
	height: 100%;
}
.upgrade {
	width: 18%;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	margin-right: 20px;
}

header p {
	vertical-align: middle;
	color: white;
	border: 1px solid white;
	border-radius: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

main {
	width: 100%;
	height: 925px;
	background-color: salmon;
}

.sidebar {
	width: 15%;
	background-color: black;
	align-items: center;
	flex-direction: column;
}

.content {
	width: 85%;
	background-color: red;
}

footer {
	width: 100%;
	height: 80px;
	background-color: rgb(40, 40, 40);
	justify-content: space-between;
}

.current-song {
	width: 15%;
	height: 100%;
	color: rgb(113, 113, 113);
}

.sound {
	width: 15%;
	height: 100%;
	background-color: slateblue;
}

.player {
	width: 40%;
	height: 100%;
	background-color: tan;
}

.account {
	padding: 0 10px;
	height: 80px;
	color: rgb(113, 113, 113);
}

.account i {
	margin-right: 10px;
}

.fa-user-circle {
	font-size: 20px;
}

.account p {
	margin-top: 10px;
	margin-bottom: 7px;
}

.account strong,
.current-song strong {
	color: white;
}

.menu {
	width: 100%;
	height: 100px;
	padding-left: 10px;
}

.lista-home li {
	list-style-type: none;
	padding-top: 7px;
	color: rgb(113, 113, 113);
}

.lista-home i {
	font-size: 20px;
	margin-right: 10px;
}
.playlist {
	width: 100%;
	height: calc(100% - 180px);

	padding-left: 10px;
	padding-top: 5px;
}

.lista-playlist li {
	list-style-type: none;
	padding-top: 12px;
	color: rgb(113, 113, 113);
}

.lista-playlist i {
	font-size: 30px;
	margin-right: 10px;
	vertical-align: middle;
}

.playlist H3 {
	color: WHITE;
}

.current-song {
	justify-content: space-around;
	padding: 10px 0;
}

.current-song span,
.current-song p {
	align-self: center;
}

.current-song i:last-of-type {
	margin-left: 8px;
}

/* cambiare le icone sidebar con le immagini fornite!!!!!! */
